.search {
    margin-top: 100px;
    margin-bottom: 20px;
    width: auto;
    height: 250px;
    display: flex;
    justify-content: center;
}

.searchBar{
    width: 300px;
    height: 60px;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 60px;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
}

.submit{
    width: 300px;
    height: 50px;
    border: 1px solid #ccc;
    border-radius: 60px;
    box-sizing: border-box;
    outline: none;
    font-size: 18px;
}